<link href="css/site.css" rel="stylesheet"> 
<link href="css/aos.css" rel="stylesheet"> 

<div id="app">
    <div class="container text-center">
        <div class="title-wrapper">
            <img class="main-title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" data-aos-once=“true” src="img/title.svg" alt="title">
            <a class="scroll-down-wrapper" href="#draw-sec">
                <img class="scroll-down" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" data-aos-once="true" src="img/scroll.svg" alt="scrolldown">
            </a>
        </div>
        <div class="waves-wrapper"></div>
        <!-- 抽獎列表 Starts-->
        <div id="draw-sec" class="draw-sec container mx-auto p-5 mb-5" >
            <div class="row">
                <div class="add-sec col-lg-5 col-12 px-0 mb-3">
                    <span class="sub-title">新增名稱</span>
                    <div class="input-sec">
                        <el-input class="input-length" v-model="addMemberName" placeholder="新增名稱"></el-input>
                        <el-button id="addMemberBtn">新 增</el-button>
                    </div>
                </div>
                <div class="amount-sec col-lg-4 offset-lg-1 col-12 px-0">
                    <span class="sub-title">抽獎數</span>
                    <el-input-number v-model="winnerCount" controls-position="right" :min="1" :max="100" label="抽獎數" placeholder="抽獎數"></el-input-number>
                </div>
                <div class="nominee-sec col-12 px-0 mt-3 mb-5">
                    <el-table :data="memberList" empty-text="暫無數據" max-height="400" stripe>
                        <el-table-column prop="name" label="抽獎名單">
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button size="mini"
                                            type="danger"
                                            @@click="removeMemberDialog(scope.row)">刪除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <!-- 開獎按鈕 Starts-->
                <div class="draw-btn-wrapper">
                    <el-button id="startDrawBtn">GO</el-button>
                </div>
            <!-- 開獎按鈕 Ends-->
        </div>
        <!-- 抽獎列表 Ends-->

        <!-- 開獎列表 Starts-->
        <div class="reveal-sec container mx-auto p-5 mb-5" >
            <div class="row">
                <div class="col-12 px-0 reveal-table-wrapper">
                    <el-table :data="winnerMemberList" empty-text="尚未抽籤" max-height="400" stripe border>
                        <el-table-column prop="name" label="中獎名單">
                        </el-table-column>
                    </el-table>
                </div>
            </div>  
        </div>        
        <!-- 開獎列表 Ends-->
    </div>
</div>

@section Scripts{
    <script>
        let testList = [
            { name: '甲' },
            { name: '乙' },
            { name: '丙' },
            { name: '丁' },
            { name: '戊' }
        ];
        let memberList = testList;
        let winnerMemberList = [];
        let winnerNumberList = [];
        let winnerCount = 3;
        const activeMemberCollapse = '1';
        const activeWinnerCollapse = '1';
        const startDraw = () => {
            if (vm.winnerCount > vm.memberList.length) {
                vm.showError("中獎數大於抽獎人數");
                return;
            }

            vm.winnerMemberList = [];
            vm.winnerNumberList = [];
            do {
                let randomNumber = Math.floor(Math.random() * vm.memberList.length);
                while (vm.winnerNumberList.includes(randomNumber)) {
                    randomNumber = Math.floor(Math.random() * vm.memberList.length);
                }
                let winner = vm.memberList[randomNumber];
                vm.winnerMemberList.push(winner);
                vm.winnerNumberList.push(randomNumber);
            } while (vm.winnerCount != vm.winnerNumberList.length)
            vm.showSuccess("抽獎結束~")
        }
        const methods = {
            removeMemberDialog(data) {
                this.$confirm(`確定刪除 : ${data.name}?`, '刪除提示', {
                    confirmButtonText: '確定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vm.removeMember(data);
                });
            },
            getMember() {
                axios.get('/Member').then(function ({ data }) {
                    vm.memberList = data;
                }, function (ex) {
                    vm.showError(ex);
                });
            },
            addMember() {
                axios.post(`/Member/${vm.addMemberName}`)
                    .then(function () {
                        vm.getMember();
                        vm.showSuccess('新增成功');
                    }, function (ex) {
                        vm.showError(ex);
                    });
            },
            removeMember({ id }) {
                axios.delete(`/Member/${id}`)
                    .then(function () {
                        vm.getMember();
                        vm.showSuccess('刪除成功');
                    }, function (ex) {
                        vm.showError(ex);
                    });
            },
            showSuccess(message) {
                this.$message({
                    message: message,
                    type: 'success'
                });
            },
            showError(message) {
                this.$message.error(message);
            },
        }
        const mounted = function () {
            $('#startDrawBtn').click(startDraw);
            $('#addMemberBtn').click(this.addMember);
            this.getMember();
        }
    </script>
    <script>
        const vueData = {
            addMemberName: "",
            memberList: memberList,
            winnerMemberList: winnerMemberList,
            winnerCount: winnerCount,
            activeMemberCollapse: activeMemberCollapse,
            activeWinnerCollapse: activeWinnerCollapse,
        }
        const vue = {
            el: '#app',
            data: vueData,
            methods: methods,
            mounted: mounted,
        }
        const vm = new Vue(vue)
    </script>
    <!-- initialize aos -->
    <script src="js/aos.js"></script>
    <script>
        AOS.init();
    </script>
}
