/* 全域 */
html {
    font-size: 14px;
    position: relative;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.pr{
    position: relative !important;
}
body {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    /* padding: 3rem; */
    width:100%;
    height:100vh;
    perspective:1000px;
    background-size: cover;
    animation-name: bg-intro ;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background-size: 100%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.footer{
    padding: 0rem 1rem;
    text-align: center;
    background-color: #89a7fb;
    color: white;
    line-height: 30px !important;
    font-size: 12px;
}
@keyframes bg-intro {
    0% {
        background-size: 110%;
    }
    100% {
        background-size: 150%;
    }
}
@keyframes small-bg-intro {
    0% {
        background-size: 200%;
    }
    100% {
        background-size: 250%;
    }
}
@keyframes xs-bg-intro {
    0% {
        background-size: 400%;
    }
    100% {
        background-size: 450%;
    }
}
@media (max-width: 990px) {
    body{
        animation-name: small-bg-intro ;
    }  
}
@media (max-width: 640px) {
    body{
        animation-name: xs-bg-intro ;
    }  
}

/* 主標 */
.title-wrapper{
    width: 40%;
    position: relative;
    margin: 0 auto 5% auto;
    text-align: center;
}
.main-title{
    display: inline-block;
    margin-top: 30%;
}

/* scroll down */

.scroll-down-wrapper{
    display: block;
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
}
.scroll-down-wrapper .scroll-down{
    display: inline-block;
    margin-top: 5%;
    animation: scroll 1.5s infinite;
    z-index: 10;
}
@keyframes scroll {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(0px, -15px);
    }
    100% {
      transform: translate(0px, 0px);
    }
}

/* waves deco */
.waves-wrapper{
    position: fixed;
    width: 100%;
    height: 700px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
    background-image: url(../img/waves.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -110px 0;
    z-index: -10;
    opacity: 0.8;
}

/* 選單條件 */
.draw-sec,.reveal-sec{
    position: relative;
    max-width: 70%;    
    background: rgba(255, 255, 255, 0.558);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.67);
    min-height: 500px;
}
.add-sec,.amount-sec{
    text-align: left;
}
.add-sec .sub-title,.amount-sec .sub-title{
    display: inline-block;
    margin-bottom: 6px;
    color: lightslategray;
}
.add-sec .input-sec{
    width: 100%;
    position: relative;
}
.add-sec #addMemberBtn{
    position: absolute;
    right: 0;
    top: 0;
}
.add-sec .el-input__inner {
    padding: 0 40% 0 15px;
}
.amount-sec .el-input-number {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 38px;
}    
.nominee-sec{
    margin-bottom: 10rem;
    max-height: 200px;
    overflow: scroll;
}
.nominee-sec::-webkit-scrollbar {
    width: 7px;
}
.nominee-sec::-webkit-scrollbar-button {
    background: transparent;
    border-radius: 4px;
}
.nominee-sec::-webkit-scrollbar-track-piece {
    background: transparent;
}
.nominee-sec::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(141, 128, 237, 0.82);
    border: 1px solid slategrey;
}
.nominee-sec::-webkit-scrollbar-track {
    background-color: rgba(59, 158, 234, 0);
}
.draw-sec .draw-btn-wrapper #startDrawBtn{
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 30px;
    font-size: 1.5rem;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 100px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)
}
.draw-sec .draw-btn-wrapper #startDrawBtn:hover{
    transform: scale(.8);
    background-position: right center;
}

/* 公布得獎名單 */


.reveal-sec{
    position: relative;
    margin-top: 5rem;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    overflow: hidden;
}

.reveal-sec::after{
    content: 'CHOSEN ONES';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    FONT-SIZE: 3rem;
    letter-spacing: 15px;
    color: #ffffff70;
    text-align: center;
    line-height: 60px;
}
.reveal-table-wrapper{
    min-height: 300px;
    max-height: 300px;
    overflow: scroll;
}
/* rwd */
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
    .title-wrapper{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .draw-sec, .reveal-sec{
        max-width: 100%;    
    }    
}

@media (max-width: 640px) {
    /* body{
        padding: 0.5rem;
    } */
    .title-wrapper{
        width: 100%;
    }
    .scroll-down-wrapper {
        max-width: 80px;
    }
    .draw-sec{
        margin-top: 10%;
    }
}
